// reset Css
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Differentes Variable de couleur utilisée
*,:root{
    --colorText:rgb(255, 255, 255);
    --colorBackground:black;
    --colorbtn:red;
    --hoverBTn:rgb(255, 255, 255);
    --colorAquamarine:aquamarine;
}


body{
    background-color: var(--colorBackground);
    color: var(--colorText);
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    .container{
        height: 100vh;
        display: flex;
        header{
            height: 100%;
            width: 10vw;
            text-transform: uppercase;
            #navigation{
                margin-top: 10rem;
                height: 50%;
                border-radius: 80px;
                text-align: center;
                display: flex;
                ul{
                    height: 100%;
                    width: 4vw;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;
                    justify-content: space-around;
                    li{
                        height: 100%;
                        a{
                            border-radius: 20%;
                            height: 80%;
                            width: 100%;
                            text-decoration: none;
                            color:var(--colorbtn);
                            border: 1px solid rgb(0, 255, 221);
                            display: flex;                            
                            align-items: center;
                            justify-content: center;
                            box-shadow: 5px 5px 8px red;
                            .material-symbols-outlined{
                                text-align: center;
                                font-size: 1.5rem;
                            }
                            .titleNavBar{
                                transform: translateY(-50%);
                                position: absolute;
                                left: 6.8rem;
                                background-color: aqua;
                                border-radius: 0.3rem;
                                transition: 0.5s;
                                opacity: 0;
                                visibility: hidden;
                            }
                        }
                    }
                    :hover{
                        a{
                            background-color: var(--hoverBTn);
                            box-shadow: 5px 5px 8px aquamarine;
                            .material-symbols-outlined{
                                color: aquamarine;
                            }
                            .titleNavBar{
                                visibility: visible;
                                opacity: 1;
                                color: black;
                                transform: translateX(0.01rem)translateX(1rem);
                            }
                        }
                    }
                }
            }
        }
        main{
            height: 100vh;
            width: 100vw;
            z-index: 0;
            overflow-y: scroll;
            .formaDef{
                border: 1px solid red;
                height: 100%;
                width: 100%;
            }
            #Accueil{
                height: 100%;
                width: 100%;
            }
            #Present{
                height: 100%;
                width: 100%;
                display: flex;
                .imgProfil{
                    height: 60%;
                    width: 30%;
                    margin-top: 10%;
                    margin-left: 10%;
                    border-radius: 10% 10%;
                    background-image: url(img/myProfil.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .textProfil{
                    height: 40%;
                    width: 50%;
                    transform: translate(10%);
                    margin-top: 10%;
                    border-radius: 10%;
                }
            }
            #Compet{
                .containerCard{
                    // border: 1px solid rgb(0, 255, 8);
                    width: 92%;
                    height: 100%;
                    transform: translateX(8rem);
                    display: flex;
                    justify-content: space-evenly;
                    .cardCompetence{
                        border: 1px solid var(--colorAquamarine);
                        width: 20%;
                        height: 80%;
                        background-color: brown;
                        // display: flex;
                        position: relative;
                        transform: translateY(15%);
                        h3{
                            border: 1px solid yellow;
                            width: 100%;
                            height: 10%;
                            // display: inline-block;
                        }
                        .containerList{
                            border: solid 1px blue;
                            height: 90%;
                            ul{
                                height: 100%;
                                width: 100%;
                                list-style: none;
                                display: flex;
                                flex-direction: column;
                                li{
                                    border: 1px solid white;
                                    height: 50%;
                                }
                            }
                        }
                    }
                }
            }
            #Projet{
                color: red;
            }
            #Contact{
                h2{
                    text-align: center;
                    border: 1px solid red;
                    margin-top: 2%;
                }
                .containerContact{
                    border: 1px solid blanchedalmond;
                    width: 100%;
                    height: 92%;
                }
                .lienContact{
                    border: 1px solid blueviolet;
                   
                }
                .formulaire{
                        border: 1px solid yellow;
                }
            }
        }
    }
}