*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
:root {
  --colorText: rgb(255, 255, 255);
  --colorBackground: black;
  --colorbtn: red;
  --hoverBTn: rgb(255, 255, 255);
  --colorAquamarine: aquamarine;
  --colorCardProjet: rgb(43, 43, 42);
}

body {
  background: black;
  color: var(--colorText);
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}
body .container {
  height: 100vh;
  display: flex;
}
body .container header {
  height: 100%;
  width: 10vw;
  text-transform: uppercase;
}
body .container header #navigation {
  margin-top: 10rem;
  height: 50%;
  border-radius: 80px;
  text-align: center;
  display: flex;
}
body .container header #navigation ul {
  height: 100%;
  width: 4vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: space-around;
}
body .container header #navigation ul li {
  height: 100%;
}
body .container header #navigation ul li a {
  border-radius: 20%;
  height: 80%;
  width: 100%;
  text-decoration: none;
  color: var(--colorbtn);
  border: 1px solid rgb(0, 255, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 8px red;
}
body .container header #navigation ul li a .material-symbols-outlined {
  text-align: center;
  font-size: 1.5rem;
}
body .container header #navigation ul li a .titleNavBar {
  transform: translateY(-50%);
  position: absolute;
  left: 6.8rem;
  background-color: aqua;
  border-radius: 0.3rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
body .container header #navigation ul :hover a {
  background-color: var(--hoverBTn);
  box-shadow: 5px 5px 8px aquamarine;
}
body .container header #navigation ul :hover a .material-symbols-outlined {
  color: aquamarine;
}
body .container header #navigation ul :hover a .titleNavBar {
  visibility: visible;
  opacity: 1;
  color: black;
  transform: translateX(0.01rem) translateX(1rem);
}
body .container main {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow-y: scroll;
}
body .container main .formaDef {
  width: 100%;
}
body .container main #Accueil {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
}
body .container main #Accueil .slogan {
  position: relative;
  left: 40rem;
  width: 30vw;
  height: 95.5vh;
}
body .container main #Accueil .slogan .sloganAnimation1 {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
body .container main #Accueil .slogan .letter {
  color: var(--colorAquamarine);
}
body .container main #Present {
  height: 100%;
  width: 100%;
  display: flex;
}
body .container main #Present .imgProfil {
  height: 60%;
  width: 30%;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 10% 10%;
  background-image: url(img/myProfil.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
body .container main #Present .textProfil {
  height: 60%;
  width: 50%;
  transform: translate(10%);
  margin-top: 10%;
  border-radius: 10%;
  font-size: 1.5rem;
}
body .container main #Present .textProfil .lienProfil {
  margin-top: 15%;
  height: 10%;
  text-align: center;
  display: flex;
}
body .container main #Present .textProfil .lienProfil ul {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
body .container main #Present .textProfil .lienProfil ul li {
  height: 100%;
  width: 20%;
}
body .container main #Present .textProfil .lienProfil ul li a {
  border-radius: 20%;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--colorbtn);
  border: 1px solid rgb(0, 255, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 8px red;
  color: var(--colorbtn);
  text-transform: uppercase;
}
body .container main #Present .textProfil .lienProfil ul li a .fonctionLien {
  transform: translateY(50%);
  position: absolute;
  background-color: aqua;
  border-radius: 0.3rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
body .container main #Present .textProfil .lienProfil ul li button {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(0, 255, 221);
  box-shadow: 5px 5px 8px red;
  border-radius: 20%;
  background-color: black;
  color: var(--colorbtn);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
body .container main #Present .textProfil .lienProfil ul li button .fonctionLien {
  position: absolute;
  background-color: aqua;
  border-radius: 0.3rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
body .container main #Present .textProfil .lienProfil ul :hover a {
  background-color: var(--hoverBTn);
  box-shadow: 5px 5px 8px aquamarine;
}
body .container main #Present .textProfil .lienProfil ul :hover a .fonctionLien {
  visibility: visible;
  opacity: 1;
  color: black;
  transform: translateY(0.01rem) translateY(-5rem);
}
body .container main #Present .textProfil .lienProfil ul :hover button {
  background-color: var(--hoverBTn);
  box-shadow: 5px 5px 8px aquamarine;
  color: aquamarine;
}
body .container main #Present .textProfil .lienProfil ul :hover button .fonctionLien {
  visibility: visible;
  opacity: 1;
  color: black;
  transform: translateY(0.01rem) translateY(-5rem);
}
body .container main #Present #divCv {
  height: 30rem;
  display: none;
  margin-top: 1rem;
}
body .container main #Present #divCv embed {
  height: 100%;
  width: 100%;
}
body .container main #Compet {
  height: 100%;
}
body .container main #Compet .containerCard {
  height: 72%;
  width: 100%;
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
body .container main #Compet .containerCard .Card {
  border: 1px solid rgb(0, 255, 221);
  box-shadow: 5px 5px 8px red;
  position: relative;
  height: 10%;
  width: 20%;
  margin: 1.25rem 1.25rem 3.75rem;
}
body .container main #Compet .containerCard .Card .box {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  position: relative;
}
body .container main #Compet .containerCard .Card .box .titleCard {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
}
body .container main #Compet .containerCard .Card .box .titleCard span {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  color: #b10d0d;
}
body .container main #Compet .containerCard .Card .box .containerlistcard {
  height: 90%;
  width: 100%;
  display: none;
  transform: translateY(-35rem);
}
body .container main #Compet .containerCard .Card .box .containerlistcard ul {
  height: 100%;
  list-style: none;
}
body .container main #Compet .containerCard .Card .box .containerlistcard ul li {
  height: 20%;
  flex-wrap: wrap;
}
body .container main #Compet .containerCard .Card .box .containerlistcard ul li h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
}
body .container main #Compet .containerCard .Card .btnCard {
  height: 100%;
  width: 20%;
  transform: translateY(0.5rem);
  margin-left: 10%;
  position: relative;
}
body .container main #Compet .containerCard .Card .btnCard button {
  height: 30%;
  width: 100%;
  text-align: center;
}
body .container main #Compet .containerCard .Card .btnCardClose {
  display: none;
  width: 20%;
  transform: translateY(-7.157rem);
  margin-left: 70%;
}
body .container main #Compet .containerCard .Card .btnCardClose button {
  height: 30%;
  width: 100%;
  text-align: center;
}
body .container main #Projet {
  height: 100%;
  color: red;
  z-index: 5;
}
body .container main #Projet .containertitleProjet {
  height: 5%;
  text-align: center;
}
body .container main #Projet .containertitleProjet h2 {
  margin-top: 0.5rem;
}
body .container main #Projet .containerProjet {
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
body .container main #Projet .containerProjet .projet {
  border: var(--colorAquamarine) solid 3px;
  box-shadow: 5px 5px 8px red;
  border-radius: 1%;
  height: 60%;
  width: 20%;
  position: relative;
  z-index: 10;
  background-color: var(--colorCardProjet);
  margin-top: 2%;
  margin-left: 2%;
}
body .container main #Projet .containerProjet .projet .header {
  background-color: darkgrey;
  color: white;
  transform: translateX(12.5rem);
  width: 40%;
}
body .container main #Projet .containerProjet .projet .main {
  height: 96%;
  background-color: black;
  opacity: 0.6;
  color: white;
}
body .container main #Projet .containerProjet .projet .main .containerData h3 {
  text-align: center;
  text-transform: uppercase;
}
body .container main #Projet .containerProjet .projet .main .containerData p {
  display: flex;
  transform: translateY(12rem);
  font-size: 1.5rem;
}
body .container main #Projet .containerProjet .projet .footer {
  transform: translateY(0.5rem);
  color: white;
}
body .container main #Projet .containerProjet .projet .footer a {
  color: white;
}
body .container main #Projet .containerProjet .projet:nth-child(1) {
  background-image: url(img/Mon\ premier\ site\ web.png);
  background-repeat: no-repeat;
  background-size: 20vw auto;
}
body .container main #Projet .containerProjet .projet:nth-child(2) {
  background-image: url(img/React_AppFinFormation.png);
  background-repeat: no-repeat;
  background-size: 22vw auto;
}
body .container main #Projet .containerProjet .projet:nth-child(3) {
  background-image: url(img/porteFolio\ Marc\ Lemer.png);
  background-repeat: no-repeat;
  background-size: 18vw auto;
}
body .container main #Contact {
  height: 50%;
}
body .container main #Contact h2 {
  text-align: center;
  margin-top: 2%;
}
body .container main #Contact .containerContact {
  width: 100%;
  height: 93%;
}
body .container main #Contact .lienContact {
  height: 100%;
  width: 100%;
}
body .container main #Contact .lienContact ul {
  height: 92%;
  display: flex;
  margin-top: 2rem;
}
body .container main #Contact .lienContact ul li {
  height: 50%;
  width: 30%;
}
body .container main #Contact .lienContact ul li .test1 {
  color: #b10d0d;
  height: 80%;
  width: 40%;
}
body .container main #Contact .lienContact ul li a {
  color: aliceblue;
  display: flex;
  transform: translateY(-5rem) translateX(11rem);
  width: 25%;
}
body .container main #footer {
  height: 10%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
