*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,:root{
    --colorText:rgb(255, 255, 255);
    --colorBackground:black;
    --colorbtn:red;
    --hoverBTn:aquamarine;
}


body{
    background-color: var(--colorBackground);
    color: var(--colorText);
    height: 100%;
    width: 100%;
    color: white;
    .container{
        // border: 1px solid red;
        height: 100vh;
        display: flex;
        header{
            // border: 1px solid rgb(38, 255, 0);
            height: 100%;
            width: 10vw;
            text-transform: uppercase;
            #navigation{
                margin-top: 10rem;
                height: 50%;
                border-radius: 80px;
                text-align: center;
                display: flex;
                ul{
                    height: 100%;
                    width: 4vw;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;
                    justify-content: space-around;
                    li{
                        height: 100%;
                        a{
                            border-radius: 20%;
                            height: 80%;
                            width: 100%;
                            text-decoration: none;
                            color:var(--colorbtn);
                            border: 1px solid rgb(0, 255, 221);
                            display: flex;                            
                            align-items: center;
                            justify-content: center;
                            box-shadow: 5px 5px 8px red;
                            .material-symbols-outlined{
                                text-align: center;
                                font-size: 1.5rem;
                            }
                            .titleNavBar{
                                transform: translateY(-50%);
                                position: absolute;
                                left: 6.8rem;
                                background-color: aqua;
                                border-radius: 0.3rem;
                                transition: 0.5s;
                                opacity: 0;
                                visibility: hidden;
                            }
                        }

                    }
                    :hover{
                        a{
                        background-color: var(--hoverBTn);

                            .titleNavBar{
                                visibility: visible;
                                opacity: 1;
                                color: black;
                                transform: translateX(1.5rem)translateX(3.1rem);
                            }
                        }
                    }
                }
            }
        }
        main{
            height: 100vh;
            width: 100vw;
            z-index: 0;
            overflow-y: scroll;
            .formaDef{
                border: 1px solid red;
                height: 100%;
                width: 100%;
            }
            #Accueil{
                height: 100%;
                width: 100%;

            }
            #Present{
                height: 100%;
                width: 100%;
                .imgProfil{
                    border: 1px solid greenyellow;
                    height: 10%;
                    width: 10%;
                    display: inline;
                }
                .textProfil{
                    border: 1px solid rgb(47, 255, 224);
                    height: 50%;
                    width: 50%;
                }
            }
        }
    }
}